#registration_form_container {
  width: 500px;
  padding: 10px;
  margin: auto;
}

body {
	background: radial-gradient(#383838, black) fixed;
	overflow-y: hidden;
	min-height: 100%;
	color: white;
}

.headerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
	margin: auto;
}

.hidden {
	display: none;
}